@{
  Layout = "_Layout";
}

@model ARatsLife.Models.Plotpoint

<h2>Delete</h2>

<h4>Are you sure you want to delete: @Html.DisplayFor(model => model.Title)?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Yes, delete this valuable piece of rat history" />
}

@Html.ActionLink("Nah, bring me back", "Index")